[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
pandas = "~=1.2"
jupyterlab = "~=3.0"

[dev-packages]

[requires]
python_version = "3.8"
